<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
	<title>Cadastro de Estados</title>
</head>


<section layout:fragment="conteudo">
	<form method="POST" action="/estados" th:object="${estado}">
		<div th:replace="MensagemGeral"></div>
		<div th:replace="MensagemErro"></div>
		<div class="card-container">
			<div class="card" style="width: 118rem">
				<div class="card-header">
					<div class="grid">
						<div class="grid-item">
							<h5 class="card-title">Novo estado</h5>
						</div>
						<div class="grid-item">
							<a class="btn btn-danger" href="/estados/page/1" />Voltar</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<input type="hidden" th:field="*{codigo}" />
					<div class="font-cadastro">
						<div class="mb-3">
							<label for="nomeEstado" class="col-sm-2 control-label">Nome</label>
							<div class="col-sm-4">

								<select class="form-select form-select-sm mb-3" th:field="*{nome}"
									onchange="var name = $(this).find('option:selected').data(); $('#siglaEstado').val(name.sigla);">

									<option value="">Selecione um Estado</option>
									<option th:each="estadoapi : ${estadosAPI}" th:text="${estadoapi.nome}"
										th:value="${estadoapi.nome}" id="nomeEstado"
										th:attr="data-sigla=${estadoapi.sigla}"><!--Consulta API -->
								</select>
								<label class="col-sm-2 control-label">Sigla</label><br>
								<input class="form-control" id="siglaEstado" type="text" readonly="readonly"
									th:field="*{sigla}">
							</div>
						</div>


					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</div>
		</div>
	</form>
</section>

</html>