<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
	<title>Cadastro de Municípios</title>
</head>


<section layout:fragment="conteudo">
	<form method="POST" action="/municipios" th:object="${municipio}">
		<div th:replace="MensagemGeral"></div>
		<div th:replace="MensagemErro"></div>
		<div class="card-container">
			<div class="card" style="width: 118rem">
				<div class="card-header">
					<div class="grid">
						<div class="grid-item">
							<h5 class="card-title">Novo município</h5>
						</div>
						<div class="grid-item">
							<a class="btn btn-danger" href="/municipios/page/1" />Voltar</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<input type="hidden" th:field="*{codigo}" />
					<div class="font-cadastro">
						<div class="mb-3">
							<label class="col-sm-2 control-label">Estado</label>
							<div class="col-sm-2">
								<select class="form-select form-select-sm mb-3" th:field="*{estado.codigo}">
									<option th:each="estado : ${estados}" th:text="${estado.nome}"
										th:value="${estado.codigo}">
								</select>
							</div>
							<label class="col-sm-2 control-label">Município</label>
							<div class="col-sm-4 ">
								<input class="form-control" type="text" th:field="*{nome}">
							</div>
						</div>


					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</div>
		</div>
	</form>
</section>

</html>