<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<!-- MODAL DE CATEGORIAS-->
<div class="modal fade" id="confirmacaoExclusaoModalCateg" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/categorias'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>
<!-- MODAL DE NEGOCIOS-->
<div class="modal fade" id="confirmacaoExclusaoModalNegoc" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/negocios'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>
<!-- MODAL DE ESTADOS-->
<div class="modal fade" id="confirmacaoExclusaoModalEstad" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/estados'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>
<!-- MODAL DE MUNICIPIOS-->
<div class="modal fade" id="confirmacaoExclusaoModalMunic" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/municipios'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>
<!-- MODAL DE BAIRRO-->
<div class="modal fade" id="confirmacaoExclusaoModalBairro" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/bairros'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>
<!-- MODAL DE IMOVEL-->
<div class="modal fade" id="confirmacaoExclusaoModalImovel" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/imoveis'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>

<!-- MODAL DE USUARIOS-->
<div class="modal fade" id="confirmacaoExclusaoModalUsers" tabindex="-1">
	<div class="modal-dialog">

		<form th:attr="data-url-base='/users'" method="POST" th:method="DELETE">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>

				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar?</span>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>

			</div>

		</form>
	</div>


</div>


</html>