<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<meta charset="UTF-8" />
<section layout:fragment="conteudo">

<div class="d-flex p-2" style="background-color: transparent;">
<div class="card-body">
<div th:if="${param.error}">
					<div class="alert alert-danger">Usuário e/ou senha inválidos!</div>
				</div>
	<form action="/entrar" method="POST">
		<div class="container d-flex justify-content-center text-center">
		
		<div class="mb-3 border shadow"  style="background-color: white;border-radius: 30px;">		
		<img class="text-center login-img"src="/img/house.png" alt="" height="300px;"/><span class="brand-text">Imobija! </span>
		<div class="brand-text">LOGIN</div>
		<div class="form-group login-input  text-start">	
		<label><small class="text-muted">Usuário</small></label>	
			<div class="float-start"> <img src="/icons/person.svg" alt="" /> </div><input name="username" class="form-control" placeholder="Insira seu e-mail" />
		</div>

		<div class="form-group login-input text-start">
		<label><small class="text-muted">Senha</small></label>
			<div class="float-start"> <img src="/icons/lock.svg" alt="" /> </div><input type="password" name="password" class="form-control" placeholder="Insira sua senha" />
		</div>
		<span  class="text-muted"><small>Não é cadastrado? Clique <a href="/cadastrar">aqui</a> para se cadastrar.</small></span>
		<div class="form-group login-input">
			<button class="btn btn-include btn-block">Entrar</button>
		</div>
		</div>
	
	</form>
</div>
</div>

</div>
</section>
</html>