<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<section layout:fragment="conteudo">
<header>
	<div class="overlay">
	<div class="welcome-content">
	<h1>A sua imobiliária!</h1>
<h3>Por que escolher a Imobija! ?</h3>
<p><strong>Possuímos diversos tipos de apartementos, casas, adequadas para você aonde quer que esteja! Isso mesmo, Imobija! possui imóveis espalhados por todos o Brasil! Entre em contato conosco para
agendarmos uma apresentação de móvel do seu interesse!</strong></p>
	<br>
	<button class="round-button" onclick="location.href = '/imoveis/page/1'"><strong>PESQUISAR IMÓVEIS</strong></button>
		</div>
		</div>
		
</header>


</section>
</html>